In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('iris.csv')

In [3]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
y = iris[['variety']]  #Dependent variable

In [5]:
x = iris[['sepal.length']] #independent variable

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test=train_test_split(x, y,test_size=0.4)

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
dtc = DecisionTreeClassifier()

In [10]:
dtc.fit(x_train, y_train)

DecisionTreeClassifier()

In [11]:
y_pred = dtc.predict(x_test)

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
confusion_matrix(y_test, y_pred)

array([[21,  2,  0],
       [ 0,  8,  8],
       [ 1, 12,  8]], dtype=int64)

In [14]:
(21+8+8)/(22+2+0+0+8+8+1+12+8)

0.6065573770491803

In [15]:
#DEcision tree Regression

In [16]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [17]:
x = iris[['petal.length']]

In [18]:
y = iris[['sepal.length']]

In [19]:
x_train, x_test, y_train, y_test =train_test_split(x, y, test_size=0.25)

In [20]:
from sklearn.tree import DecisionTreeRegressor

In [21]:
dtc = DecisionTreeRegressor()

In [24]:
dtc.fit(x_train, y_train)

DecisionTreeRegressor()

In [25]:
y_pred = dtc.predict(x_test)

In [26]:
y_test.head()

     sepal.length
142           5.8
39            5.1
8             4.4
145           6.7
22            4.6

In [27]:
y_pred[0:5]

array([6.23333333, 5.11      , 5.        , 6.5       , 4.3       ])

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
mean_squared_error(y_test, y_pred)

0.1858063939610933